
body {margin:0;font-family:Arial;
touch-action: pan-y;
}
html {
  scroll-behavior: smooth;
}
/* BACKGROUND IMAGE */
.dand{
  width: 100%;
  height: 300px;
  font-family:serif;
  text-align: center;
  background:url(milkyway-8190232.jpg);
background-size: contain;
}
.heroimage {
  margin-top: 50px;
  justify-content: center;
  transition: .25s all linear;
  transform: perserve 3d;
  }
  .captioncontainer {
  text-align: center;
  } 
  h1.captiontitle {
  padding-bottom: 70px;
  font-family:serif;
  font-weight: bolder;
  font-size: 60px;
  color: white;
  text-shadow: 0px 2px 2px rgba(150, 150, 150, .5);
  animation-name: headerenter;
  animation-duration: 5s;
  }
  h2.captiontitle {
    margin-top: -5vw;
    font-family: avenir;
    font-weight: 100;
    font-size: 15px;
    font-weight: bold;
    font-family: serif;
    border-radius: 100%;
    color: white;
    text-shadow: 0px 2px 2px rgba(150, 150, 150, .5);
    animation-name: subheadenter;
    animation-duration: 5s;
    }
  @keyframes headerenter {
  from {
  letter-spacing: 20px;
  opacity: .0;
  }
  to {
  letter-spacing: 0px;
  opacity: 1;
  }
  } 
  
  @-webkit-keyframes subheadenter {
  0%  {opacity: 0;}
  25% {opacity: 0;}
  50% {opacity: 0;}
  75% {opacity: .5;}
  100%{opacity: 1;}
  }
  
  @keyframes subheadenter {
  0%  {opacity: 0;}
  25% {opacity: 0;}
  50% {opacity: 0;}
  75% {opacity: .75;}
  100%{opacity: 1;}
  } 


/* navbar */
.topnav {
font-family: serif;
overflow: hidden;
padding: 15px;
}
  
.topnav a {
float: left;
display: block;
color: white;       
text-align: center;
padding: 0px 50px;
text-decoration: none;
font-size: 17px;
}
.topnav .login
{
float: right;
margin-right: 25px;
}   
.active {
float: left;
}
      
.topnav .icon {
display: none;
}
.topnav a:hover, :hover .dropbtn {
border: 1px solid white;
color: white;
border-top: none;
border-left: none;
border-right: none;
}

/* WE BELEIVE LINE START */
      
.NEW{
margin-top: 100px;
font-weight: bold;
margin-left: 100px;
height: auto;
font-family: serif;
font-size: 60px;
position: relative;
animation: 1S ABC ;
}
.NEW button{
margin-top: 40px;
color: white;
padding: 0.5em 1.5em;
font-size: 18px;
border-radius: 0.5em;
background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
cursor: pointer;
border: 1px solid #e8e8e8;
transition: all 0.3s;
}
button:active {
color: red;
box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

@keyframes ABC{
from{
top: 200px;   
}
  
to{
top: 0px;
}
}
.image{
margin-top: 25px;
float: right;
width: 400px;
margin-bottom: 25px;
margin-right: 100px; 

} 
/* SLIDER */

.w3-content_w3-section{
margin-top: 150px;
margin-left:25px;
margin-right:25px;
} 
/* CONTENT */ 

.PROJECT{
  margin-top: 40px; border-left:none; 
  border-right:none;border-bottom:none;
  border-top: 2px solid gray;
  margin-left: 10%;
  margin-right: 10%;
  
}
.PROJECT p{
  font-family:serif;
  font-size: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

/* CONTENT ITEM  */
.parent {

  margin-top: 50px;
  font-size: 25px;
  display: flex;
justify-content: center;
}
.parent #card{
float: left;
margin-left: 50px;
margin-right: 50px;
}
.vl {
margin-top: 50px;
  border-left: 1px solid black;
  height: 130px;
}


Span {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}


span:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}






      /* slider */
      .mySlides {display:none;}

      /* page */



/* content */
* {box-sizing: border-box}

  
  /* Style the tab */
  .tab {
    float: left;

    width: 25%;
    height: 300px;
    margin-left: 7.5%;
    margin-right: 7.5%;
  
  }
  
  /* Style the buttons inside the tab */
  .tab button {
font-family: serif;
display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
font-size: 25px;
border: 3px solid blue;
border-top: none;
border-left: none;
border-right: none;

  }
  
  /* Create an active/current "tab button" class */

  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    font-family: serif;
    width: 60%;
    border-left: none;
    height: 300px;
    display: none;
  }
  
  /* Clear floats after the tab */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/*  */
.whatsapp{
float: right;
margin-bottom: 50px;
margin-right: 25px;

position: fixed;
bottom: 0;
right: 0;
}

.team_card {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.team_card:hover {
  transform: scale(1.05);
}

.team_card-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.team_card-image img {
width: 100%;
height: 100%;
object-fit: cover;
transition: transform 0.3s ease-in-o}
        
.team_card-image:hover img {
  transform: scale(1.1);
}

.team_card-content {
  padding: 10px;
}
 
.team_card-title {
font-size: 25px;
font-family: serif;
 font-weight: bold;
 margin-bottom: 10px;
}
        
.team_card-text {
 font-size: 12px;
color: #666;
 margin-bottom: 20px;
}
        
.team_card-btn {
background-color: #4CAF50;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
}
        
.team_card-btn:hover {
background-color: #3e8e41;
 }
 .team_card-container{
  margin-top: 50px;
  display: flex;
justify-content: center;
 }
 .team_card{
  float: left;
margin-left: 50px;
margin-right: 50px;
 }

 
.BANNER {
  margin-top: 70px;
  text-align: center;
}
.BANNER  img{
  box-shadow: 3px 7px 7px 7px  gray;
  border-radius: 10px;
  max-width: 85%;
}

